.navbar {
    background-color: rgba(31, 30, 30, 1);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
li {
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: flex-start;
    }
}