<!DOCTYPE html>
<html lang="en">
    <body class="container">
        <div>
            <h1> WHO WE ARE</h1>
            <h2>CREATE THE BEST SOFTWARE</h2>
            <h1 class="line">___________________</h1>    
        </div>
        <div>
            <img src="images/about/about.png" class="image">
            <p>
                Nemo cupiditate ab quibusdam quaerat impedit magni. 
                Earum suscipit ipsum laudantium. Quo delectus est. Maiores
                voluptas ab sit natus veritatis ut. Debitis nulla cumque
                veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta 
                sint aliquam rhoncus elit.
                
                Nemo cupiditate ab quibusdam quaerat impedit magni. 
                Earum suscipit ipsum laudantium. Quo delectus est. Maiores
                voluptas ab sit natus veritatis ut. Debitis nulla cumque
                veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta 
                sint aliquam rhoncus elit.
            </p>
        </div>    
        <div class="square"></div>
    </body>
</html>