<app-navbar></app-navbar>S
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <img src="images/home/Image-center-home.png" alt="Imagen izquierda" class="image-left">
      <h1 class="line">_____________________________________________</h1>
      <div class="content">
        <h1>We provide creative solutions</h1>
        <h2>to turn your ideas into digital reality.</h2>
        <img src="images/home/Image-righ-home.png" alt="Imagen derecha" class="image-right">
      </div>
    </div>
    <app-about></app-about>
  </body>
</html>

<head>
</head>