body, html {
    margin: 0;
    padding: 0; 
    width: 100%; 
    height: auto; 
    overflow-x: hidden; 
}
.container {
    position: relative;    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 30, 30, 1);
}
  
.image-left {
    width: 60%;
    margin-left: 2%;
    object-fit: cover;
}

.image-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    object-fit: cover;
}



/* Text */
.line{
    color: rgba(255, 103, 37, 1);
    margin-left: 2%;
    font-size: 40px;
}
  

.content {
    color: #fff;
    margin-left: 2%;
    font-size: 40px;
}

